---
import "@fontsource-variable/noto-sans-jp";

interface Props {
  title: string;
  description?: string;
}

const { title, description = "A blog" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta name="og:title" content={title} />
    <meta name="description" content={description} />
    <meta name="og:description" content={description} />
    <meta name="og:type" content="article" />
    <meta name="og:image" content="https://fuma-blog.vercel.app/banner.png" />
    <meta
      name="twitter:image"
      content="https://fuma-blog.vercel.app/banner.png"
    />
    <meta name="twitter:card" content="summary_large_image" />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  main {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }

  body {
    margin: 0;
    color: rgb(80, 80, 80);
    background: rgb(238, 238, 238);
    font-family: "Noto Sans JP Variable", sans-serif;
  }
</style>
